#=========================================================================
# .gitignore
# Extensions that you do not want git to track
#=========================================================================

#=========================================================================
# build and dist directories
#=========================================================================
build/
dist/
minibrain.egg-info/

#=========================================================================
# temporal related extensions
#=========================================================================
*.swm

#=========================================================================
# Python related extensions
#=========================================================================
*.swp
*.swn
*.swo

#=========================================================================
# Python related extensions
#=========================================================================
*.pyc
.ipynb_checkpoints
